In [1]:
import pandas as pd
df=pd.read_csv("jumlahsiswaputussekolahpadasmk2011.csv")
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [2]:
print(x)

[[2011 'Kepulauan Seribu' 'Negeri' 'I']
 [2011 'Kepulauan Seribu' 'Negeri' 'II']
 [2011 'Kepulauan Seribu' 'Negeri' 'III']
 [2011 'Kepulauan Seribu' 'Swasta' 'I']
 [2011 'Kepulauan Seribu' 'Swasta' 'II']
 [2011 'Kepulauan Seribu' 'Swasta' 'III']
 [2011 'Jakarta Selatan' 'Negeri' 'I']
 [2011 'Jakarta Selatan' 'Negeri' 'II']
 [2011 'Jakarta Selatan' 'Negeri' 'III']
 [2011 'Jakarta Selatan' 'Swasta' 'I']
 [2011 'Jakarta Selatan' 'Swasta' 'II']
 [2011 'Jakarta Selatan' 'Swasta' 'III']
 [2011 'Jakarta Timur' 'Negeri' 'I']
 [2011 'Jakarta Timur' 'Negeri' 'II']
 [2011 'Jakarta Timur' 'Negeri' 'III']
 [2011 'Jakarta Timur' 'Swasta' 'I']
 [2011 'Jakarta Timur' 'Swasta' 'II']
 [2011 'Jakarta Timur' 'Swasta' 'III']
 [2011 'Jakarta Pusat' 'Negeri' 'I']
 [2011 'Jakarta Pusat' 'Negeri' 'II']
 [2011 'Jakarta Pusat' 'Negeri' 'III']
 [2011 'Jakarta Pusat' 'Swasta' 'I']
 [2011 'Jakarta Pusat' 'Swasta' 'II']
 [2011 'Jakarta Pusat' 'Swasta' 'III']
 [2011 'Jakarta Barat' 'Negeri' 'I']
 [2011 'Jakarta Barat' 'Negeri' 'II']
 [2011 'Jakarta Barat' 'Negeri' 'III']
 [2011 'Jakarta Barat' 'Swasta' 'I']
 [2011 'Jakarta Barat' 'Swasta' 'II']
 [2011 'Jakarta Barat' 'Swasta' 'III']
 [2011 'Jakarta Utara' 'Negeri' 'I']
 [2011 'Jakarta Utara' 'Negeri' 'II']
 [2011 'Jakarta Utara' 'Negeri' 'III']
 [2011 'Jakarta Utara' 'Swasta' 'I']
 [2011 'Jakarta Utara' 'Swasta' 'II']
 [2011 'Jakarta Utara' 'Swasta' 'III']]

In [3]:
print(y)

[  0   0   0   0   0   0  41   8   9 299 266 123   7   9   0 403 430 212
  63  29   4  50  49  19  29  11  12 138 188  55  19   7   7 166  78  30]